<footer class="footer mt-auto py-3 fixed-bottom">
  <div class="container">
         
              <a routerLink="statistics">Summary</a>
          
         
              <a routerLink="terms">Terms & Conditions</a>
            
           
                <a routerLink="about">About Us</a>
           
                  <a routerLink="contact"><i class="fa fa-fw fa-envelope"></i> Contact Us</a>
              
  </div>
    <div class="main">
    <div class="right">
 <h6>Trusted Site  ::: <i><b>All rights Reserved  @2019</b></i>     </h6>
 </div>
 <div class="left">
 
 <h6>Developed By <i><b>@NelsonMosesOtieno</b></i></h6>
 </div> 
</div>
</footer>

