
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <h2>100% R....S</h2>
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto  nav-tabs">
              <li class="nav-item active">
                <a class="nav-link" routerLink="home" routerLinkActive="active"><i class="fa fa-fw fa-home"></i>Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="about" routerLinkActive="active"><i class="fa fa-fw fa-users"></i>About Us</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="contact" routerLinkActive="active"><i class="fa fa-fw fa-envelope"></i> Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="help" routerLinkActive="active"><i class="fa fa-fw fa-envelope"></i> Help</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="userprofile" routerLinkActive="active"><i class="fa fa-fw fa-user"></i>My Profile</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="admin" routerLinkActive="active"><i class="fa fa-fw fa-user"></i>Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="user" routerLinkActive="active"><i class="fa fa-fw fa-user"></i>User</a>
                      </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="comment" routerLinkActive="active"><i class="fa fa-fw fa-comment"></i>Comments</a>
                    </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                View
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item"  routerLink="news" routerLinkActive="active"><i class="fa fa-fw fa-award"></i>NEWS & UPDATES</a>
                  <a class="dropdown-item" href="#" routerLinkActive="active"><i class="fa fa-fw fa-comments"></i>VIEW COMMENTS</a>
                  <a class="dropdown-item" routerLink="datinginquiry" routerLinkActive="active"><i class="fa fa-fw fa-analytic"></i>DatingInquiry</a>
                
                </div>
              </li>
            
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" routerLink="register" routerLinkActive="active"><i class="fa fa-fw fa-users"></i>Sign Up</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active"><i class="fa fa-fw fa-user"></i>Log In</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="logout" routerLinkActive="active"><i class="fa fa-fw fa-user"></i>Log Out</a>
                    </li>
                  </ul>
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>