<!-- Load an icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The sidebar -->
<div class="sidebar" style="widows: 400px;">
    <h3>Admin Dashboard</h3>
  <a href="#home"><i class="fa fa-fw fa-envelop"></i>  DATING REQUESTS</a>
  <a href="#services"><i class="fa fa-fw fa-users"></i> USER ACCOUNTS</a>
  <a routerLink="news"><i class="fa fa-fw fa-award"></i> NEWS & UPDATES</a>
  <a routerLink="/adminViewComments"><i class="fa fa-fw fa-comment"></i>VIEW COMMENTS </a>
  <a href="#contact"><i class="fa fa-fw fa-check"></i>PROBLEMS </a>
</div>
<div class="cont">

  IMAGES HERE
</div>
